.row:hover {
    background-color: #F3F8FF;
}

.row:hover .td_status {
    border-left: 1px solid #0555FE;
}

.row td {
    border: 1px solid #D8E1F3;
    padding: 20px 30px;
}

.inner {
    display: flex;
    justify-content: center;
}

.admin {
    position: relative;
}

.admin_label {
    position: absolute;
    z-index: 3;
    font-size: 15px;
    color: #fff;
    flex-direction: column;
    align-content: center;
    align-items: center;
    top: -55px;
    left: -44px;
    font-size: 14px;
}

.admin_label div:first-child {
    padding-left: 16px;
}

.icons {
    justify-content: space-evenly;
    fill: #D5DEF0;
    transition: 0.2s
}

.icons svg:hover {
    fill: #A7B7D8;
    cursor: pointer;
}

.password {
    position: relative;
    flex-direction: column;
    align-items: center;
}

.password:hover .hidden_pass {
    display: none;
}

.password:hover .visible_pass {
    visibility: visible;
}

.visible_pass {
    visibility: hidden;
}

.hidden_pass {
    position: absolute;
}

@media (max-width: 360px) {
    .row td {
        padding: 5px 0px;
        font-size: 10px;
    }

    .admin_label {
        transform: scale(0.4);
        top: -38px;
        left: -47px;
    }
}